<head>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.11/mvp.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>
    <title>GND</title>
</head>

<body>
    <header><nav>
        <a href="/"><h2>GND</h2></a>
        <ul>
            <li><a href="/">Заглавная</a></li>
            <li><a href="/training">Тренировка</a></li>
            <li><a href="/calculators">Калькуляторы</a></li>
        </ul>
    </nav></header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>