<head>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.11/mvp.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GND</title>
</head>

<body>
    <header><nav>
        <a href="/"><h2>GND</h2></a>
        <ul>
            <li><a href="/">Заглавная</a></li>
            <li><a href="/training">Тренировка</a></li>
            <li><a href="/calculators">Калькуляторы</a></li>
        </ul>
    </nav></header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>